language: go
sudo: false
matrix:
  include:
    # "1.x" always refers to the latest Go version, inc. the patch release.
    # e.g. "1.x" is 1.11 until 1.11.1 is available.
    - go: 1.x
      env: LATEST=true
    - go: 1.7.x
    - go: 1.8.x
    - go: 1.9.x
    - go: 1.10.x
    - go: 1.11.x
    - go: tip
  allow_failures:
    - go: tip

before_install:
  # gox simplifies building for multiple architectures
  - go get github.com/mitchellh/gox

install:
  - # skip

script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d .)
  - go vet $(go list ./... | grep -v /vendor/)
  - go test -v -race ./...
  - if [ "${LATEST}" = "true" ]; then gox -os="windows linux darwin" -arch="amd64 386" ./...; fi

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_OAUTH_TOKEN
  file:
  - nck_windows_amd64.exe
  - nck_darwin_amd64
  - nck_linux_amd64
  - nck_windows_386.exe
  - nck_darwin_386
  - nck_linux_386
  on:
    repo: uwuh/namecheck
    tags: true
    condition: $LATEST = true